*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	color: #47167d;
  background-attachment: fixed;
  background-color: lightgray;
} 

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  background-image: url(./img/developer.png);
  transition: background-image 1s;
  background-size: cover;
}


#menu {
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  background-color:  rgba(255, 255, 255, 0.678);
  
}

#menu div{
  height: 45px;
  width: 100%;
  
}

/*botones*/

.btnM {
  display: flex;
  justify-content: center;
  align-items: center;
	transition: background-color .2s;
  padding-bottom: 8px;
}
.s-sub{
  text-decoration: none;
  font-size: 1.2em;
}

.btnM:hover {
	cursor: pointer;
	transition: background-color .4s;
}

#btnHome:hover {
	background-color: #765996; 
}

#btnHome {
  color: #765996; 
	border-top: 5px solid #765996; 
	padding-bottom: 5px;
}

#btnBriefcase {
	color: #765996; 
	border-top: 5px solid #765996; 
	padding-bottom: 5px;
}

#btnBriefcase:hover {
	background-color: #765996; 
}

#btnAboutMe {
	color: #ce4b1b;
	border-top: 5px solid #ce4b1b;

}

#btnAboutMe:hover {
	background-color:#ce4b1b; 
}

#btnContact {
	color: #ce4b1b;
	border-top: 5px solid #ce4b1b;

}

#btnContact:hover {
	background-color: #ce4b1b; 
}
a:hover{
  color: white;
}

/*secciones*/
#inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 97%;
  padding: 3%;
  margin: 1.5%;
  background-color: rgba(255, 255, 255, 0.678);
  border-radius: 25%;
}

.intro h5, .intro {
  padding-left: 10px;
}
.developer{
  font-size: 2em;
  color: #ce4b1b;
}
.foto img {
  width: 90px;
  height: 107px;
  border-radius: 80%;
  object-fit: cover;
}


.foto {
  padding: 1.8%;
  margin: auto;
}

.intro {
  text-align: center;
}

/*portafolio*/
#portafolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  padding: 2%;

}

/*sobre mi*/
#sobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  margin: auto;
 
}
#sobreMi h4, #sobreMi h5 {
  color: #b13103;
  font-size: 2em;
} 
#sobreMi p {
  color: #47167d !important;
  text-align: justify;
  font-size: 1.1em;
} 

#sobreMi a {
  color: #47167d !important;
} 

#sobreMi a:hover {
  color: rgb(143, 106, 6) !important;
}

#pdf a {
  color: #b13103 !important;
  font-size: 1.5em; 
}
#pdf a:hover{
  color: rgb(143, 106, 6) !important;
}


#sobreMi #pdf a svg {
  font-size: 30px;
  padding-left: 10px;
  width: 45px;
}

#sobreMi .der {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.678);
  border-radius: 3%;
  text-align: center;
  padding: 3%;
}
.habilidad {
  width: 10%
}
.equipo {
  background-image: url(img/equipo.png);
}
.comunicacion {
  background-image: url(img/comunicacion.png);
}
.scrum {
  background-image: url(img/scrum.png);
}



/*contacto*/
#contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.376);
}

#contacto .izq {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#contacto p svg {
  color: rgb(107, 59, 4) !important;
}

#contacto .izq p {
  margin-bottom: 1em;
}

#contacto a {
  color: #47167d !important;
  text-decoration: none;
}

#contacto a:hover {
  color:rgb(143, 106, 6)  !important;
}

/*carrusel*/
.carousel {
  height: 61vh !important;
}
.carousel .carousel-item {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  position: relative;
  margin: 1%;
  min-width: 97%;
  min-height: 52vh;
  padding: 2%;
}

.carousel .carousel-item img{
  width: 90%;
  height: 35vh;
  margin-top: 4%;
}

.overlay {
  background-color: rgba(29, 29, 29, 0.9);
  position: absolute;
  bottom: 2%;
  color: white;
  font-size: 0.9em;
  width: 87%;
  padding: 2%;
  height: 26%;
}

.overlay span {
  color: rgb(143, 106, 6);
}

.icons {
  font-size: 60px;
}

@media only screen {
  body {
    background-position: 40% 100%;
  }

  svg {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin-top: 6%;
  }
   .contactText {
    text-align: center;
    margin-top: 0;
    z-index: 10;
  }

  #sobreMi {
    width: 100%;
    margin-top: 90%;
  }
  #inicio {
    margin-top: 50px;
  }
  .animationInit {
    margin-bottom: -20px;
  }
}

@media only screen and (min-width: 650px) {
  body {
    background-position: 40% 30%;
  }

  .carousel {
    height: 70vh !important;
  }

  .carousel .carousel-item {
    min-height: 64vh;
  }
  
  .carousel .carousel-item img{
    width: 90.7%;
    height: 53vh;
    margin-top: 4%;
  }
  
  .overlay {
    height: 17%;
    bottom: -12%;
  }

  svg {
    width: 100%;
    margin-top: 0;
  }
 
  .contactText {
    margin-top: -30px;
  }

  .foto img {
    width: 170px;
    height: 200px;
  }

  #sobreMi {
    width: 70%;
    margin-bottom: -126px;
    margin-top: 0;
    min-width: 900px;
  }
  #sobreMi p {
    font-size: 1.2em;
  } 

  .contacto {
    margin-bottom: 80px;
  }
  #inicio {
    margin-top: 0;
    width: 97%;
    padding: 13% 8% 15% 6%;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 5%;
  }
}
  
  .animationInit {
    margin-bottom: -0;
  } 

/*animacion contacto*/
svg {
  position: relative;
  font: 20em Ubuntu;
  letter-spacing: 0.15em;
}

svg text {
  fill: #b13103;
  color: #ff914d ;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 1s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}

/*animacion inicio*/
.animationInit svg {
  position: relative;
  font: 15em Ubuntu;
  letter-spacing: 0.05em;
}

.animationInit svg text {
  fill:#330464;
  stroke: #47167d;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 2s ease-out;
}

.apellido svg {
  position: relative;
  font: 4.5em Ubuntu;
  letter-spacing: 0.0em;
}

.apellido svg text {
  fill:#330464;
  stroke: #47167d;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 2s ease-out;
}